.small_inner_block {
	height: 200px;
}
/* 
 * The following style definitions can be removed when IE supports the "opacity" 
 * specification in place of its proprietary and non-standard method.
 */
.flag {
	filter: alpha(opacity=100);
}
.dimflag {
	filter: alpha(opacity=40);
}
.small_inner_block {
/*	height: auto;   */
	max-height: 200px;
	overflow: auto;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}